<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar
      style="
        background-color: #ffbf0066;
        position: relative;
        backdrop-filter: blur(10px);
        opacity: 10;
      "
    >
      <img src="../assets/slocx.png" style="width: 100px" />
      <span class="mt-1">|</span><span class="mt-2">Slocx Classroom</span>

      <!-- <button class="mode-switch">
        <i class="bi bi-brightness-high sun"></i>
        <i class="bi bi-moon moon"></i>
       
      </button> -->
    </mat-toolbar>
    <!-- <app-chat></app-chat> -->

    <div class="app-container">
      <div class="app-main">
        <div class="video-call-wrapper" id="video-grid"></div>
      </div>

      <div
        class="mt-4 d-flex justify-content-center position-absolute"
        style="z-index: 10; bottom: 20px; right: 0; left: 0"
      >
        <div class="d-flex flex-row gap-2 actionbt">
          <button
            type="button"
            class="btn btn-primary"
            id="toggle-video"
            style="background-color: #ffc107; border: none"
          >
            <i class="bi bi-camera-video" id="video"></i>
          </button>
          <button type="button" class="btn btn-light" id="toggle-mute">
            <i class="bi bi-mic" id="mic"></i>
          </button>

          <!-- <button type="button" class="btn btn-danger">
            <i class="bi bi-telephone-x" (click)="closeTab()"></i>
          </button> -->
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
